<md-card>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout="row">
      <div layout="column" title="{{appdea.title}}" class="text-ellipsis" flex>
        <span ng-bind="appdea.title" class="text-ellipsis"></span>
        <span ng-if="appdea.uid && appdea.uname" ng-bind="appdea.uname" class="subtitle text-ellipsis"></span>
      </div>
      <div>
        <md-button ng-if="deletable" ng-click="onDelete($event, appdea)" class="md-icon-button no-margin"><md-icon>delete</md-icon></md-button>
        <md-button ng-if="editable" ng-click="onEdit($event, appdea)" class="md-icon-button no-margin"><md-icon>edit</md-icon></md-button>
      </div>
    </div>
  </md-toolbar>
  <md-card-content>
    <div style="overflow:auto;margin-top:-1em;" marked="appdea.description"></div>
    <div class="text-sm" layout="row" layout-sm="column" layout-align="end" layout-align-sm="end end" style="margin-top:1em;">
      <div class="text-muted" am-time-ago="appdea.date_updated | amFromUnix" flex></div>
      <div layout="row" layout-align-sm="start start" layout-align="end end" flex>
        <span class="text-muted" ng-bind="appdea.status | status | uppercase"></span>        
      </div>
    </div>
  </md-card-content>
</md-card>