<div ng-controller="UserCtrl as vm">
  <div class="auth-card-wrapper-sm">
    <md-card>
      <md-card-content>
        <form name="vm.loginForm" ng-submit="vm.loginForm.$valid && vm.login()">
          <div class="text-muted text-sm">
            <p>Login with your Lightbulb credentials.</p>
            <p>Need an account? <a ui-sref="signup">Signup here.</a></p>            
          </div>
          <div layout="column">
            <md-input-container>
              <label>Email</label>
              <input type="email" ng-model="vm.loginData.email" required>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input type="password" ng-model="vm.loginData.password" required>
            </md-input-container>
            <div class="text-center">
              <md-checkbox class="md-primary" ng-model="vm.loginData.rememberMe">Remember me</md-checkbox>
            </div>
            <p ng-show="vm.loginError" ng-bind="vm.loginError" class="text-danger text-sm"></p>
            <md-button ng-disabled="vm.loggingIn" type="submit" class="md-primary md-raised">Login</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>