<div ng-controller="UserCtrl as vm">
  <div class="auth-card-wrapper">
    <md-card>
      <md-card-content>
        <form name="vm.signupForm" ng-submit="vm.signupForm.$valid && vm.signup()">
          <div class="text-muted text-sm">
            <p>Create a Lightbulb account with the secret code provided by <a href="http://version75.com" target="_blank">V75</a>.</p>
          </div>
          <div layout="column">
            <div layout="row" layout-sm="column">
              <md-input-container flex>
                <label>First Name</label>
                <input type="text" ng-model="vm.signupData.first_name" required>
              </md-input-container>
              <md-input-container flex>
                <label>Last Name</label>
                <input type="text" ng-model="vm.signupData.last_name" required>
              </md-input-container>
            </div>

            <md-input-container>
              <label>Email</label>
              <input type="email" ng-model="vm.signupData.email" required>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input type="password" ng-model="vm.signupData.password" minlength="6" required>
            </md-input-container>
            <md-input-container>
              <label>Confirm Password</label>
              <input compare-to="vm.signupData.password" type="password" ng-model="vm.signupData.confirm_password" required>
            </md-input-container>
            <md-input-container>
              <label>Secret Code</label>
              <input type="password" ng-model="vm.signupData.secret" required>
            </md-input-container>
            
            <p ng-show="vm.signupError" ng-bind="vm.signupError" class="text-danger text-sm"></p>

            <md-button ng-disabled="vm.signingUp" type="submit" class="md-primary md-raised">Signup!</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>