<div ng-controller="UserCtrl as vm" class="content-padding">
  <div class="auth-card-wrapper-sm">
    <md-card>
      <md-card-content>
        <form name="vm.passwordResetForm" ng-submit="vm.passwordResetForm.$valid && vm.resetPassword()">
          <h3 class="md-title">Forgot your password?</h3>
          <div class="text-muted text-sm">
            <p>Tell us your email and we will send you a messsage with password recovery instructions.</p>
            <p><a ui-sref="login">Back to login</a>.</p>
            <p><a ui-sref="signup">Create an account</a>.</p>
          </div>
          <div layout="column">
            <md-input-container class="no-m">
              <label>Email</label>
              <input type="email" ng-model="vm.passwordResetData.email" required>
            </md-input-container>
            <md-button ng-disabled="vm.resettingPassword" type="submit" class="md-primary md-raised">
              <div layout="row" layout-align="center center">
                <md-progress-circular ng-show="vm.resettingPassword" md-mode="indeterminate" md-diameter="30"></md-progress-circular>
                <span>Send</span>
              </div>
            </md-button>
            <div class="text-sm">
              <p ng-if="vm.passwordResetError" ng-bind="vm.passwordResetError" class="text-danger"></p>
              <p ng-if="vm.passwordResetMsg" ng-bind="vm.passwordResetMsg" class="text-success"></p>              
            </div>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>