<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl as vm">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"" />
  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png" />
  <link rel="manifest" href="favicon/manifest.json" />
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png" />
  <meta name="theme-color" content="#000000" />
  <!-- / FAVICON -->
  <title>Lightbulb75 by V75 Apps</title>
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
  <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
  <link rel="stylesheet" href="css/material-icons.css" />
  <link rel="stylesheet" href="modules/external/md-sidenav-menu/md-sidenav-menu.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <!-- PRELOADER -->
  <div id="preloader">
    <style>
      #preloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #fff;
      }
      
      .text-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      }
      
      .loader-text {
        position: relative;
        top: 50%;
        margin-top: -40px;
        line-height: 40px;
        color: #777;
        padding: 0 1em;
        text-align: center;
      }
    </style>
    <div class="text-wrapper">
      <div class="loader-text">
        One moment please...
        <br />Loading awesomeness. ;)
      </div>
    </div>
  </div>
  <!-- / PRELOADER -->
  <!-- APP SCRIPTS -->
  <!-- **DEBUG -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/firebase/firebase-app.js"></script>
  <script src="bower_components/firebase/firebase-auth.js"></script>
  <script src="bower_components/firebase/firebase-database.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/marked/lib/marked.js"></script>
  <script src="bower_components/angular-marked/dist/angular-marked.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>  
  <!-- / **DEBUG-->
  <!-- **DISTRIBUTION -->
  <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/angular-moment/angular-moment.min.js"></script>
  <script src="bower_components/firebase/firebase-app.js"></script>
  <script src="bower_components/firebase/firebase-auth.js"></script>
  <script src="bower_components/firebase/firebase-database.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/marked/marked.min.js"></script>
  <script src="bower_components/angular-marked/dist/angular-marked.min.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>-->
  <!-- / ** DISTRIBUTION -->
  <script src="modules/external/md-sidenav-menu/md-sidenav-menu.js"></script>
  <script src="modules/app.firebase/firebase.module.js"></script>
  <script src="modules/app.firebase/firebase.service.js"></script>
  <script src="modules/app.user/user.module.js"></script>
  <script src="modules/app.user/user.service.js"></script>
  <script src="modules/app.user/user.ctrl.js"></script>
  <script src="modules/app.appdea/appdea.module.js"></script>
  <script src="modules/app.appdea/appdea.service.js"></script>
  <script src="modules/app.appdea/appdea.ctrl.js"></script>
  <script src="modules/app.appdea/directives/appdea.view.js"></script>
  <script src="modules/app/app.module.js"></script>
  <script src="modules/app/app.ctrl.js"></script>
  <script src="modules/app/app.filters.js"></script>
  <script src="modules/app/app.directives.js"></script>
  <script src="modules/app/app.config.theme.js"></script>
  <script src="modules/app/app.config.router.js"></script>
  <!-- / APP SCRIPTS -->

  
  <md-toolbar class="md-hue-2 md-whiteframe-1dp toolbar-fixed animated fadeInDown">
    <div class="md-toolbar-tools" layout="row">
      <md-button ng-if="vm.hasSidenav() && vm.showSidenavToggle()" ng-click="vm.toggleSidenav()" class="md-icon-button"><md-icon>menu</md-icon></md-button>
      <md-button ui-sref="app">
        <div layout="row" layout-align="start center" class="app-header-title">
          <div hide-xs>L</div>
          <div id="logo-icon" class="material-icons text-accent icon animated pulse infinite">lightbulb_outline</div>
          <div hide-xs class="spacy">ghtbulb</div>
          <div><b class="v75">75</b></div>
        </div>
      </md-button>
      <span flex></span>
      <md-button ng-if="!vm.user" ui-sref="login">Login</md-button>
      
      <md-menu ng-if="vm.user" md-offset="0 45" md-position-mode="target-right target" title="{{vm.user.email}}">
        
        <md-button ng-click="$mdOpenMenu($event)">
          <span>
            <span class="text-lowercase" hide-xs>{{vm.user.email}}</span>&nbsp;
            <span class="text-uppercase" show-xs hide-gt-xs><strong>{{vm.user.first_name.charAt(0) + vm.user.last_name.charAt(0)}}</strong></span>
            <md-icon class="material-icons">person</md-icon>
          </span>
        </md-button>
        
        <md-menu-content width="4">
          <span class="text-center m-t-xs" hide-gt-xs>
            <span class="text-sm text-ellipsis">{{vm.user.email}}</span>&nbsp;
            <md-divider class="m-t-sm"></md-divider>
          </span>
          <md-menu-item>
            <md-button ui-sref="account">
              <md-icon class="md-primary">person</md-icon>
              <span>Account</span>
            </md-button>
          </md-menu-item>
          <md-button class="md-raised md-warn md-hue-2" ng-click="vm.logout()" ng-disabled="loggingOut">Logout</md-button>
        </md-menu-content>
        
      </md-menu>
    </div>
  </md-toolbar>

  <md-content id="app-view" class="md-hue-1" layout="column">
    <div class="animate-fade" layout="column" ui-view flex></div>
    <footer class="footer-fixed md-whiteframe-1dp animated fadeIn" layout="row" layout-align="center center">
      <div class="text-center">
        <b>Lightbulb75</b>&nbsp; by <a href="http://version75.com" target="_blank">V75 Apps</a> - &copy; 2015
      </div>
    </footer>
  </md-content>
</body>

</html>